---
interface Props {
	title: string;
	href?: string;
	desc: string;
	gradient_start: string;
	gradient_end: string;
}

const { href, title, desc, gradient_start, gradient_end } = Astro.props;
const isDisabled = !href;
---

<div class="project" style={`--gradient-start: ${gradient_start}; --gradient-end: ${gradient_end};`}>
    <div class="project-title">{title}</div>
    <div class="project-desc">{desc}</div>
    {isDisabled ? (
        <div class="project-link disabled">
          View Project
          <span class="tooltip">link unavailable</span>
        </div>
      ) : (
        <a class="project-link" href={href} target="_blank" rel="noopener noreferrer">
          View Project
        </a>
      )}
</div>
