---
interface Props {
	title: string;
	href: string;
	color: string;
	path: string;
}

const { href, title, color, path } = Astro.props;
---

<li class="social-card">
  <a href={href} target="_blank">
    <button class="styled-button" style={`background-color: ${color}`}>
      <img src={`/socials/${path}`} class="icon" alt={`${title} icon`} />{title}
    </button>
  </a>
</li>
